@{
    ViewBag.Title = "会员中心";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2>欢迎您！ @User.Identity.Name</h2>
    </div>
</body>
</html>
